//extends layout.pug
html
  head
    title Books
    link(rel='stylesheets', href='../public/stylesheets/styles.css', type='text/css')
  body
    block content 
        h1 Library Application
    block content
         a.button(href='/books/new') Create New Book
    block foot   
      #footer
        p some content
  
  
