html(class="no-js" lang="en" dir="ltr")
  head
   title Library Application
   block content
   link(rel='stylesheet', href='/static/stylesheets/styles.css')
block foot   
          #footer
            p some content  